{% extends '_templates/base.njk' %}

{% block page_title %}Queen Band{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Queen the Band</h1>
  <p>This website is dedicated to the band Queen.</p>
  <h2>Band Members</h2>
  <div class="row">
    {% for member in band.members %}
      <div class="col">
        <img src="img/img-queen/members/{{ member.image }}" alt="" class="img-fluid">
        <h3><a href="members/{{ member.slug }}.html">{{ member.name }}</a></h3>
      </div> 
    {% endfor %}
  </div>
  <h2>Discography loop</h2>
  <p>This loops through data that came from a Google Sheet example.</p>
  <hr>
  {% for song in songs.discography %}
    <h3>{{ song.title }}</h3>
    <p>{{ song.year}}</p>
    <img src="/docs/img/img-queen/discs/{{ song.image }}" alt="" class="img-fluid">
    <hr>
  {% endfor %}
</div>
{% endblock %}